*{
	box-sizing: border-box;
}
body{
	margin: 0;
}
header{
	background: url(../images/backgroundpricing.jpg) no-repeat;
	/*height: 650px;*/
	background-size: cover;
	    overflow: hidden;
}
.container{
	max-width: 1200px;
	margin:0px auto;
	overflow: hidden;
}
#logo{
	padding-top: 30px;
    padding-bottom: 35px;
    border-bottom: 1px solid #4c6c6c;
    overflow: hidden;
    margin: 0 auto;
    width: 80%;
    margin-left: 70px;
    margin-right: 70px;
}
#logo div{
	width: 49%;
    float: left;
}
/*#logo img{
	padding-left: 200px;
}*/
#pipe{
	padding-left: 24px;
    color: #4d6768;
}
.phone_icon{
	padding-left: 20px;
	color: #bec8c8
}
#phone_number{
	color: #83a7a5;
	font-size: 13px;
	line-height: 21px;
	font-family: 'Montserrat';
	font-weight: 400;
}
nav{
	float: right;
    width: 51%;
}
nav ul{
	display: inline-flex;
    margin: 0px;
}
nav ul li {
	list-style-type: none;
}
nav ul li a{
	text-decoration: none;
	display: inline;
	padding-right: 20px;
	color: #83a7a5;
    font-size: 13px;
    line-height: 21px;
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-weight: 400;
}
nav a button{
	padding: 10px 15px;
    background: #6fb048;
    border: none;
    color: #fff;
    text-transform: uppercase;
    outline: none;
    font-size: 12px;
    line-height: 21px;
    border-radius: 3px;
}
#main{
	text-align: center;
	margin-top: 58px;
   margin-left: 330px;
    margin-right: 330px;
}
#main p{
	margin: 0px;
}
#main>p:nth-of-type(1),p:nth-of-type(2){
	font-family:'Roboto';
	font-weight: 300;
	font-size: 32px;
	line-height: 38px;
	color: #0f5f5c;
}
#main>p:nth-of-type(3){
	font-size: 15px;
	line-height: 38px;
	color: #83a7a5;
	font-family: 'Roboto';
	font-weight: 400;
}
#pricing_plan{
    padding-left: 215px;
    padding-right: 215px;
    padding-top: 45px;
    padding-bottom: 60px;
}
#pricing_plan p{
	font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 38px;
    color: #83a7a5;
    text-align: center;
    margin: 0px;
}
#included_plan{
	text-align: center;
	padding-top: 73px;
    padding-bottom: 95px;
    padding-left: 73px;
    padding-right: 73px;
}
#included_plan>.container>p{
    font-size: 32px;
    line-height: 20px;
    font-family: Roboto;
    font-weight: 300;
    color: #0f5f5c;
    margin: 0px;
        margin-top: 5px;
}
.plan{
	background-color: #fff;
    text-align: center;
    width: 32%;
	display: inline-block;
	border: 1px solid #c1d3d2;
	padding-top: 25px;
	padding-bottom: 25px;
	
	margin-bottom: 27px;
}
.plan h5{
	font-size: 15px;
	line-height: 20px;
	color: #6fb048;
	font-family: 'Roboto';
	font-weight: 500;
	margin: 0px;
	text-transform: uppercase;
}
.plan>span:nth-of-type(1){
	font-family: 'Montserrat';
	font-weight: 400;
	font-size: 65px;
	color: #0f5f5c;
	line-height: 107px;

}
.plan>span:nth-of-type(2){
	font-size: 14px;
	line-height: 20px;
	color: #0f5f5c;
	font-family: 'Roboto';
	font-weight: 400;
}
/*#basic{
	margin-left: 206px;

}*/
/*#premium{
	margin-right: 206px;
}*/
ul li{
	list-style-type: none;
}
.plan ul li {
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 14px;
	line-height: 28px;
	color:#83a7a5;
	padding-right: 39px;
}
.plan button{
	padding: 15px 25px;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 22px;
    color: #fff;
    background-color: #83a7a5;
    border: none;
    border-radius: 3px;
    font-family: Montserrat;
    font-weight: 400;
}
#plus button{

    background-color: #6fb048 !important;
    
}
#plan1{
	text-align: left;
	width: 29%;
	/*margin-left: 73px;*/
}
#plan1>span:nth-of-type(1),span:nth-of-type(3),span:nth-of-type(5){
	display: inline-block;
    vertical-align: top;
    margin-top: 4px;
}
#plan1>span:nth-of-type(2),span:nth-of-type(4),span:nth-of-type(6){
	display: inline-block;
    /* vertical-align: top; */
    /*margin-left: 8px;*/
    width: 90%;
    font-size: 14px;
    line-height: 36px;
    color: #83a7a5;
    font-family: Roboto;
    font-weight: 400;
}
#plan2{
	text-align: left;
	width: 29%;
}
#plan2>span:nth-of-type(1),span:nth-of-type(3),span:nth-of-type(5){
	display: inline-block;
    vertical-align: top;
    margin-top: 4px;
}
#plan2>span:nth-of-type(2),span:nth-of-type(4),span:nth-of-type(6){
	display: inline-block;
    /* vertical-align: top; */
    /*margin-left: 8px;*/
    width: 90%;
    font-size: 14px;
    line-height: 36px;
    color: #83a7a5;
    font-family: Roboto;
    font-weight: 400;
}
#plan3{
	text-align: left;
	width: 29%;
	/*margin-right: 73px;*/
}
#plan3>span:nth-of-type(1),span:nth-of-type(3),span:nth-of-type(5){
	display: inline-block;
    vertical-align: top;
    margin-top: 4px;
}
#plan3>span:nth-of-type(2),span:nth-of-type(4),span:nth-of-type(6){
	display: inline-block;
    /* vertical-align: top; */
    /*margin-left: 8px;*/
    width: 90%;
    font-size: 14px;
    line-height: 36px;
    color: #83a7a5;
    font-family: Roboto;
    font-weight: 400;
}
.plans{
	display: inline-block;
	margin-top: 50px;
	margin-bottom: 50px;
}
#help>p:nth-of-type(1){
	font-family: 'Roboto';
	font-weight: 300;
	font-size: 32px;
	line-height: 20px;
	color: #6fb048;
}
#help>p:nth-of-type(2){
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 15px;
	line-height: 20px;
	color: #83a7a5;
	margin-top: 35px;
	margin-left: 320px;
    margin-right: 320px;
}
#help>p:nth-of-type(3){
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 18px;
	line-height: 20px;
	color: #0f5f5c;
	margin-top: 35px;
}
#download{
	background: url(../images/download.jpg) no-repeat;
	background-size: cover;
	/*padding: 75px 73px 78px 73px;*/
	padding-top: 75px;
	padding-bottom: 78px;
}
#download>.container>.wrap>#left>p:nth-of-type(1){
	font-family: 'Roboto';
	font-weight: 300;
	font-size: 28px;
	line-height: 22px;
	color: #0f5f5c;
	margin: 0px;
}
#download>.container>.wrap>#left>p:nth-of-type(2){
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 15px;
	line-height: 22px;
	color: #83a7a5;
	margin: 0px;
	margin-top: 13px;
}
#download button{
	font-family: 'Montserrat';
	font-weight: 400;
	font-size: 13px;
	line-height: 22px;
	color: #fff;
	background-color: #6fb048;
	padding: 13px 22px;
	border:none;
	border-radius: 3px;
	text-transform: uppercase;
}
#left{
	float: left;
	/*margin-left: 73px;*/
}
#right{
	float: right;
}
.help{
	width: 24%;
	display: inline-block;
	vertical-align: top;
}
.help h5{
	font-family: 'Roboto';
	font-weight: 500;
	font-size: 13px;
	line-height: 22px;
	color: #0f5f5c;
	margin: 0px;
    margin-left: 40px;
    margin-bottom: 15px;
}
.help ul{
	margin: 0px;
}
.help ul li a{
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 13px;
	line-height: 28px;
	color: #83a7a5;
}
#wapik{
	padding-top: 95px;
	padding-bottom: 55px;
	padding-left: 73px;
    padding-right: 73px;
}
ul li a{
	text-decoration: none;
}
#wapik_info ul li a{
	margin-left: -35px;
}
#newsletter input{
	    padding: 12px 17px;
    border-radius: 2px;
     border: none; 
    background-color: #eef1ec;
    /* color: #fff; */
    margin-top: 18px;
}
footer{
	margin-left: 73px;
	 margin-right: 73px;
    border-top: 1px solid #eef1ec;
    padding-top: 26px;
    padding-bottom: 22px;
    overflow: hidden;
}
footer #copyright h6{
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
	color: #83a7a5;
	margin: 0px;
}
#copyright{
	float: left;
}
.social{
	float: right;

}
.social img{
	margin-right: 10px;
}
.wrap{
	margin-left: 73px;
	margin-right: 73px;
	overflow: hidden;
}
button{
	cursor: pointer;
}